<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <baseurl value='@Url.Content("~/")'></baseurl>
    <dateformat value='@CoreVar.sFormatDate'></dateformat>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />

    <link href="~/Content/css/alt/AdminLTE-bootstrap-social.min.css" rel="stylesheet" />
    <link href="~/Content/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bower_components/morris.js/morris.css" rel="stylesheet" />
    <link href="~/Content/plugins/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
   
    <link href="~/Content/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Content/css/alt/AdminLTE-select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/alt/AdminLTE-without-plugins.min.css" rel="stylesheet" /> 
    <link href="~/Content/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
   
    <script src="~/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/bower_components/jquery-ui/jquery-ui.min.js"></script>
   
    <script src="~/Scripts/kendo.all.min.js"></script> 
    <script src="~/Scripts/kendo.aspnetmvc.min.js"></script> 
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-kendo.min.js"></script>

        <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/plugins/bower_components/Chart.js/Chart.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Content/plugins/bower_components/raphael/raphael.min.js"></script>
    
    <script src="~/Content/plugins/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/plugins/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Content/plugins/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/plugins/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/js/demo.js"></script>

    <script src="~/Scripts/NewFolder1/toastr.js"></script>

    <link href="~/Scripts/NewFolder1/toastr.css" rel="stylesheet" />
   
    <script src="~/Scripts/AngularController/AngularBaseController.js"></script>
    <script src="~/Scripts/AngularController/IndexController.js"></script>
    <script src="~/Scripts/AngularController/HistoryController.js"></script>

</head>
<body class="hold-transition skin-black-light sidebar-mini  sidebar-collapse" ng-app="MyApp">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>e</b>pi</span>
                <span class="logo-lg"><b>epi</b>Hack</span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href='#'class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                                <span class="hidden-xs">Epihackhoabinh</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                                    <p>
                                        Epihackhoabinh - Admin
                                        <!-- <small>Member since Nov. 2012</small> -->
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <!-- <a href="#" class="btn btn-default btn-flat">Thông Tin</a> -->
                                    </div>
                                    <div class="pull-right">
                                        <a href='@Url.Action("LogOut", "Home")' class="btn btn-default btn-flat">Thoát</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Pantherit86</p>
                        <a href='#'<i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href='@Url.Action("Index", "Home")'>
                            <i class="fa fa-dashboard"></i> <span>Số Liệu</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li><a href='@Url.Action("History", "Home")'><i class="fa fa-th text-red"></i> <span>Lịch Sử Truyền Thông</span></a></li>
                </ul>
            </section>
        </aside>
        @RenderBody()
        

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        @*<strong>Copyright &copy; 2017 <a href="#">Pantherit86</a>.</strong>*@ All rights reserved.
    </footer>
    <!-- Modal -->
    

    <div class="control-sidebar-bg"></div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
 
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
   
</body>

</html>
